<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="flex.css" type="text/css" />
  </head>
  <main>
    <div id="container">
      <div class="row">
        <div id="A" class="text"><p>A</p></div>
        <div id="B" class="text"><p>B</p></div>
      </div>
      <div class="row">
        <div id="C" class="text"><p>C</p></div>
        <div id="D" class="text"><p>D</p></div>
      </div>
      <div class="row">
        <div id="E" class="text"><p>E</p></div>
      </div>
    </div>
  </main>
</html>
