#container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text {
  display: flex;
  height: 100px;
  background-color: #454545;
  flex: 1;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  align-items: center;
  padding-left: 20px;
}

p {
  color: white;
  font-size: 30px;
}

.row {
  display: flex;
  flex-direction: row;
}

#C {
  flex: 1;
}

#D {
  flex: 3;
}
